<div id="home_ele">
<li><b><%= link_to "Article".html_safe,"#",:id=>"artice_id" %></b></li>
<li><b><%= link_to "Event".html_safe, casein_events_path %></b></li>
<li><b><%= link_to "Post".html_safe, casein_posts_path %></b></li>
</div>

<%= render :partial => 'casein/articles/spinner' %>
			
<div id="repl_ele"></div>




